<div class="container">
  <header>
    <i class="fas fa-address-book"></i>
    <h1>PHONE BOOK</h1>
    <button>
      <i class="fas fa-plus" (click)="openModal()"></i>
      Add
    </button>
  </header>
  <ul class="contact-list">
    <li *ngFor="let contact of (contacts$ | async)">
      <div class="contact-details">
        <i class="fas fa-user"></i>
        <h3>{{ contact.firstName }} {{ contact.lastName }}</h3>
        <p class="contact-phone">{{ contact.phoneNumber }}</p>
      </div>
      <button (click)="deleteContact(contact.id)" class="delete-button">
        <i class="fas fa-trash-alt"></i>Delete
      </button>
    </li>
  </ul>
</div>
